#about {
  .max-width-1000;
  position: absolute;
  top: 550vh;
  height: 90vh;
  width: 100%;
  background-color: @light-light-blue;
  padding-top: 80px;
  padding-bottom: 10vh;
  @media (max-width: 1000px) {
    height: auto;
  }

  h1 {
    .code-font;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    @media (max-width: 1050px) {
      margin-bottom: 20px;
    }
  }

  .about-image-container {
    .about-container;
    margin-right: 20px;
    @media (max-width: 1000px) {
      height: auto;
    }

    .about-image {
      .vertical-align;
      .about-no-vertical-align-1050;
      @media (max-width: 1000px) {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
      }

    }

    .about-image-small {
      display: none;
      @media (max-width: 1000px) {
        display: block;
        margin: 0 auto;
        width: 30%;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }

      }

    }

  }

  .about-text-container {
    .about-container;
    @media (max-width: 1000px) {
      margin-top: 5%;
      height: auto;
    }

    .about-text {
      .vertical-align;
      .about-no-vertical-align-1050;
      @media (max-width: 1000px) {
        position: relative;
        margin: 0 auto;
        width: 65%;
        height: auto;
      }

      p {
        font-size: 16rem;
        font-size: 16px;

        a {
          &:hover {
            color: #000000;
          }
          &:visited {
            text-decoration: none;
          }
        }

      }

    }

  }

}