.about {
  //background-color: #EFEEF3;
  background-image: url('/images/titanium-texture.jpg');
}

.about-header {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Code', Futura, sans-serif;
  color: #FFF;
}

.about-credential-list {
   list-style-type: none;

   li {
      display: block;
      position: relative;
      float: left;
      padding: 5px;
      margin: 3px;
    }

    li:first-child{
      padding: 5px 5px 5px 0;
      margin-left: 0;
    }

    li:last-child{
      padding: 5px 0 5px 5px;
    }

}

.icon-html5-02 {
  font-size: 48px;
}

.icon-css3-02 {
  font-size: 48px;
}

.icon-prog-js02 {
  font-size: 48px;
}

.icon-prog-jquery {
  font-size: 48px;
}

.icon-angularjs {
  font-size: 48px;
}

.email {
  margin: 50px 0 50px 0;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  a {
    text-align: center;
  }
}

