@lightblue: #BDD9FF;

#about {
  height: 550px;
  background-image: url('/images/titanium-texture-cropped.jpg');
  @media (max-width: 990px) {
    height: 1000px;
  }

  .about-header {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    h1 {
      font-family: 'Code', Futura, sans-serif;
      color: #FFF;
      font-size: 70px;
      @media (max-width: 990px){
        font-size: 48px;
      }
    }
  }

  .col-md-3 {
    @media (max-width: 990px) {
      padding-bottom: 40px;
      text-align: center;
    }
    img {
      width: 90%;
      height: 90%;
      @media (max-width: 990px) {
        width: 40%;
        height: 40%;
      }
    }
  }
  

  .well {
    margin-top: 5px;
    padding: 15px 30px 15px 30px;
    background-color: #ECF4FF;
    font-size: 18px;
    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  .contact {
    @media (max-width: 400px) {
      margin-left: auto;
      margin-right: auto;
      width: 290px;
    }
    a {
      font-size: 18px;
      color: white;
      text-align: center;
      span {
        font-size: 36px;
        text-align: center;
      }
      &:hover {
        text-decoration: none;
        color: @lightblue;
      }
    }
  li {
      list-style-type: none;
      padding-bottom: 25px;
      &:first-child {
        padding-top: 5px;
      }
    }
}




}
