@lightblue: #BDD9FF;

#about {
  height: 550px;
  background-image: url('/images/titanium-texture-cropped.jpg');

  .about-header {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    h1 {
      font-family: 'Code', Futura, sans-serif;
      color: #FFF;
      font-size: 70px;
    }
  }

  img {
    width: 90%;
    height: 90%;
  }

  .well {
    margin-top: 5px;
    padding: 15px 30px 15px 30px;
    background-color: #ECF4FF;
    font-size: 18px;
  }

  .contact {
    a {
      font-size: 18px;
      color: white;
      text-align: center;
      span {
        font-size: 36px;
        text-align: center;
      }
      &:hover {
        text-decoration: none;
        color: @lightblue;
      }
    }
  li {
      list-style-type: none;
      padding-bottom: 25px;
      &:first-child {
        padding-top: 5px;
      }
    }
}




}
