.socialmedia {
    list-style: none;
    li {
        display: block;
        position: relative;
        float: left;
        padding: 5px;
        margin: 3px;
        //border: 1px solid #FFF;
    }
}

.icon-github-01{
  font-size: 32px;
  color: #BDD9FF;
}

.icon-mail{
  font-size: 32px;
  color: #BDD9FF;
}

.icon-twitter-3 {
  font-size: 32px;
  color: #BDD9FF;
}