.main-image {
  position: absolute;
  background-image: url('/images/titanium-texture-cropped.jpg');
  width: 100%;
  height: 750px;
  top: 0;
  z-index: -1;
}

.main-headline {
    text-align: center;
    vertical-align: middle;
    height: 650px;
    h1 {
      padding-top: 150px;
      padding-bottom: 0;
      color: #FFF;
      font-family: 'Code', Futura, sans-serif;
      font-size: 90px;
    }
    h3 {
      margin-top: 0;
      padding-top: 0;
      color: #BDD9FF;
      font-family: 'Code', Futura, sans-serif;
      font-size: 36px;
    }
}
