<div id="about">

<div class="container">
  <div class="row about-header">
    <h1>I'm Carmen Krol</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/images/about-image.png" />
    </div>
    <div class="col-md-4">
      <div class="well"> 
        <p>I'm passionate about creating useful web applications.  I build with CSS3, HTML5, and Javascript, especially Angular.  I've developed these awesome skills at the Bloc front-end development program.</p>
        <p>My interest in technology stems from my master's degree in Science & Technology Studies from Cornell University.  I researched how users interact with technology.</p>
      </div>
      <ul class="about-credential-list">  
        <li>
          <span class="icon-html5-02"></span>
        </li>
        <li>
          <span class="icon-css3-02"></span>
        </li>
        <li>
          <span class="icon-prog-js02"></span>
        </li>
        <li>
          <span class="icon-prog-jquery"></span>
        </li>
        <li>
          <span class="icon-angularjs"></span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="contact">
        <a href="mailto:carmenvkrol@gmail.com">
          <span class="icon-mail"><span>
        </a>
        </br>
        <a href="mailto:carmenvkrol@gmail.com">
          carmenvkrol@gmail.com
        </a>
      </div>
    </div>
  </div>
</div>

</div>
