<div id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-md-3 credential-tagline">
      <h3>Building with:</h3>
    </div>
    <div class="col-md-9">
      <ul class="credential-list">  
        <li>
          <span class="icon-html5-02"></span>
          <p>HTML5</p>
        </li>
        <li>
          <span class="icon-css3-02"></span>
          <p>CSS3</p>
        </li>
        <li>
          <span class="icon-prog-js02"></span>
          <p>JavaScript<p>
        </li>
        <li>
          <span class="icon-prog-jquery"></span>
          <p>JQuery<p>
        </li>
        <li>
          <span class="icon-angularjs"></span>
          <p>AngularJS<p>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>