<div class="main-image">
</div>

<div class="container">
  <div class="main-headline">
    <h1>CARMEN V. KROL</h1>
    <h3>Front-End Developer</h3>
  </div>
</div>

<div class="credentials">
  <div class="container">
    <ul class="credential-list">  
      <li>
        <span class="icon-html5-02"></span>
         <p>HTML5</p>
      </li>
      <li>
        <span class="icon-css3-02"></span>
        <p>CSS3</p>
      </li>
      <li>
        <span class="icon-prog-js02"></span>
        <p>JavaScript<p>
      </li>
      <li>
        <span class="icon-prog-jquery"></span>
        <p>JQuery<p>
      </li>
      <li>
        <span class="icon-angularjs"></span>
        <p>AngularJS<p>
      </li>
    </ul>
  </div>
</div>


