<div id="portfolio" class="portfolio-header">
  <div class="container">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="container portfolio-item">
  <div class="row">
    <div class="col-md-4 portfolio-description">
      <h2>Blocitoff</h2>
      <h4>Project for <a href="http://www.bloc.io">Bloc</a>'s Front-End Development Program</h4>
      <p>I built a self-destructing task list which automatically deletes tasks if not completed within 7 days.  Users create individual accounts by providing a username, email address, and password.  They can then create tasks and delete them when finished.  The app was built using AngularJS, Express, Mongoose, HTML5, and LESS (CSS3) with Bootstrap.</p>
      <div class="button-container">
        <a href="https://github.com/carmenvkrol/blocitoff">
          <button type="button" class="btn btn-default">Github Repo</button>
        </a>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1 portfolio-image">
      <img src="/images/blocitoff.png" />
    </div>
  </div>
</div>

<div class="portfolio-shade">
<div class="container portfolio-item">
  <div class="row">
    <div class="col-lg-6 portfolio-description">
      <h2>Narwhal Skewers</h2>
      <p>The successful Kickstarter project, Narwhal Skewers, needed a product website to show potential clients. In order to meet a tight deadline and facilitate updates by the owner, I modified the CSS, HTML, and PHP of a WordPress template.</p>
      
     </div>
    <div class="col-lg-6 portfolio-image">
      <img src="/images/narwhalskewers.png" />
    </div>
  </div>
</div>
</div>

<div class="container portfolio-item">
  <div class="row">
    <div class="col-md-5 portfolio-description">
      <h2>Cognii</h2>
      <p>The educational technology startup Cognii needed a website to show potential investors within 2 days.  I designed the site with HTML and CSS based on the logo created by the founder.</p>
    </div>
    <div class="col-md-6 col-md-offset-1 portfolio-image">
      <img src="/images/cognii-screen.png" />
    </div>
  </div>
</div>
