<div id="portfolio" class="portfolio-header">
  <div class="container">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="container portfolio-item">
  <div class="row">
    <div class="col-md-4 portfolio-text">
      <h2>V's Veggies</h2>
      <p>The local food business Sauerkraut Vermont needed a new website for its new product name: V's Veggies.  I used WordPress so the owner could easily change the site's content.  I modified the colors, fonts, and images of a template.  I also wrote all the content and helped the owner create the logo.</p>
    </div>
    <div class="col-md-7 col-md-offset-1 portfolio-image">
      <img src="/images/vsveggies.png" />
    </div>
  </div>
</div>

<div class="container portfolio-item">
  <div class="row">
    <div class="col-lg-6 portfolio-text">
      <h2>Narwhal Skewers</h2>
      <p>The successful Kickstarter project, Narwhal Skewers, needed a product website to show potential clients. In order to meet a tight deadline and facilitate updates by the owner, I modified the CSS, HTML, and PHP of a WordPress template.</p>
      
     </div>
    <div class="col-lg-6 portfolio-image">
      <img src="/images/narwhalskewers.png" />
    </div>
  </div>
</div>

<div class="container portfolio-item">
  <div class="row">
    <div class="col-md-5 portfolio-text">
      <h2>Cognii</h2>
      <p>The educational technology startup Cognii needed a website to show potential investors within 2 days.  I designed the site with HTML and CSS based on the logo created by the founder.</p>
    </div>
    <div class="col-md-6 col-md-offset-1 portfolio-image">
      <img src="/images/cognii-screen.png" />
    </div>
  </div>
</div>
