@import 'utils/_fonts.less';

header {
 position: fixed;
 background-color: #323232;

 .headerName {
    .code-font;
    color: white;
    h1 {
      margin-bottom: 0;
      font-size: 4.0rem;
      font-size: 40px;
    }
    h2 {
      margin-top: 0;
      
    }
  }

}

#header.scrollDown {
  background-color: #fff;
}

#scroll-position{
  position: relative;
}
