@font-face {
  font-family: 'Code';
  src: url('fonts/Code_Pro_Demo-webfont.woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Futura, Arial, sans-serif;
}
.code-font {
  font-family: 'Code', Futura, sans-serif;
}
.body-font {
  font-family: Futura, sans-serif;
}
header#header {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  background-color: #323232;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
header#header .headerName {
  float: left;
  display: inline-block;
  font-family: 'Code', Futura, sans-serif;
  color: white;
}
header#header .headerName h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 4.0rem;
  font-size: 40px;
}
header#header .headerName h2 {
  margin-top: 0;
  font-size: 2.8rem;
  font-size: 28px;
  text-align: center;
}
header#header .header {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
header#header .header .navbar {
  margin-bottom: 0;
}
header#header .header .navbar-default {
  background-color: transparent;
  border: none;
}
header#header .header .navbar-default a {
  color: #fff;
}
header#header .header .navbar-default .nav > li > a:hover,
header#header .header .navbar-default .nav > li > a:focus {
  background-color: transparent;
}
header#header .header .navbar-default .navbar-toggle {
  margin-top: 4px;
  border: none;
}
header#header .header .navbar-default .navbar-toggle:hover,
header#header .header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
header#header .header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
header#header .header .navbar-default .navbar-collapse {
  box-shadow: none;
  border-top: none;
}
#header.scrollDown {
  background-color: #f3f3f3;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
#about {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: red;
}
.portfolio-item {
  display: none;
  opacity: 0;
}
.portfolio-img {
  width: 75%;
  height: 75%;
}
#portfolio .row {
  position: absolute;
  min-height: 100vh;
  width: 100%;
}
#portfolio .row:first-child {
  top: 100vh;
}
#portfolio .row:nth-child(2) {
  top: 200vh;
}
#portfolio .row:last-child {
  top: 300vh;
}
#portfolio #portfolio-description-1 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-image-1 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-image-1 img {
  width: 75%;
  height: 75%;
}
#portfolio #portfolio-item-2 {
  background-color: #f3f3f3;
}
#portfolio #portfolio-item-2 #portfolio-description-2 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-item-2 #portfolio-image-2 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-item-2 #portfolio-image-2 img {
  width: 75%;
  height: 75%;
}
#portfolio #portfolio-description-3 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-image-3 {
  display: none;
  opacity: 0;
}
#portfolio #portfolio-image-3 img {
  width: 75%;
  height: 75%;
}
footer {
  position: absolute;
  top: 400vh;
  width: 100%;
  background-color: #323232;
}
footer h1 {
  font-family: 'Code', Futura, sans-serif;
  color: #fff;
}
footer .social-media-container ul {
  margin: 25px auto 0 auto;
  width: 255px;
  padding-left: 0;
  list-style-type: none;
}
footer .social-media-container ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
footer .social-media-container ul li .icon-github-01,
footer .social-media-container ul li .icon-twitter-3,
footer .social-media-container ul li .icon-linkedin,
footer .social-media-container ul li .icon-mail {
  font-size: 30rem;
  font-size: 30px;
  color: #fff;
}
footer p {
  margin-bottom: 5px;
  text-align: right;
  font-family: 'Code', Futura, sans-serif;
  color: #fff;
}
body {
  min-height: 1000px;
}
