#top {
  .section;
  top: 0;
  background: url('images/main-image-background.jpg');
  padding-top: 2vh;
  .social-media-container{
    position: absolute;
    height: 10vh;
    @media (max-width: 1000px) {
      position: relative;
      height: auto;
    }
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin-left: 15px;
        marign-right: 15px;
        .icon-github-01, .icon-twitter-3, .icon-linkedin, .icon-mail{
          font-size: 24rem;
          font-size: 24px;
          color: #fff;
          &:hover {
            color: @light-blue;
          }
        }
      }
    }
  }
  .top-text-container {
    .code-font;
    position: absolute;
    top: 10vh;
    height: 70vh;
    @media (max-width: 1000px) {
      position: relative;
      height: auto;
    }
    .top-text {
      .vertical-align;
      margin: 0 auto;
      left: 0;
      right: 0;
      max-width: 600px;
      width: 50%;
      h1 {
        margin-bottom: 0;
        text-align: center;
        font-size: 72rem;
        font-size: 72px;
        color: #fff;
      }
      p {
        text-align: center;
        font-size: 24rem;
        font-size: 24px;
        color: @light-blue;
      }
    }
  }
  ul.credential-list {
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20vh;
    @media screen and (max-width: 1000px) {
      position: relative;
      height: auto;
    }
    width: 680px;
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      span {
        margin-bottom: 5px;
      }
      .icon-html5-02, .icon-css3-02, .icon-prog-js02, .icon-prog-jquery, .icon-angularjs {
        font-size: 48rem;
        font-size: 48px;
        color: @light-blue;
      }
      p {
        text-align: center;
        color: #fff;
      }
    }
  }
}